[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==6.6.0"
"ansible-lint[community,yamllint]" = "*"
boto = "*"

[dev-packages]

[requires]
# Minimal Python version for ansible is 3.8
python_version = "3.8"
